body, p, h1, h2, h3, table, td, th, ul, ol, textarea, input, select {
    font-family: Geneva, verdana, arial, helvetica, sans-serif;
    font-size: 9pt;
    color:#222;
}

/* new link highlighting */
a.new,
#p-personal a.new { color:#ba0000; }
a.new:visited,
#p-personal a.new:visited { color:#a55858; }

table {
    font-size: 100%;
}
img {
    border: none;
    vertical-align: middle;
}
p {
    margin: 0.4em 0em 0.5em 0em;
    line-height: 1.2em;
}

p img { margin: 0; }

hr {
    height: 1px;
    color: #aaaaaa;
    background-color: #aaaaaa;
    border: 0;
    margin: 0.2em 0 0.2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: Black;
    background: none;
    font-weight: normal;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    border-bottom: 1px solid #aaaaaa;
}
h1 { font-size: 188%; }
h2 { font-size: 150%; }
h3, h4, h5, h6 {
    border-bottom: none;
    font-weight: bold;
}
h3 { font-size: 132%; }
h4 { font-size: 116%; }
h5 { font-size: 100%; }
h6 { font-size: 80%;  }

ul {
    line-height: 1.5em;
    list-style-type: square;
    margin: 0.3em 0 0 1.5em;
    padding:0;
    list-style-image: url("../images/bullet.html");
}
ol {
    line-height: 1.5em;
    margin: 0.3em 0 0 3.2em;
    padding:0;
    list-style-image: none;
}
li { margin-bottom: 0.1em; }
dt {
    font-weight: bold;
    margin-bottom: 0.1em;
}
dl{
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}
dd {
    line-height: 1.5em;
    margin-left: 2em;
    margin-bottom: 0.1em;
}

fieldset {
    border: 1px solid #2f6fab;
    margin: 1em 0em 1em 0em;
    padding: 0em 1em 1em 1em;
    line-height: 1.5em;
}
legend {
    background: White;
    padding: 0.5em;
    font-size: 95%;
}
form {
    border: none;
    margin: 0;
}

textarea {
    width: 100%;
    padding: 0.1em;
}
select {
	vertical-align: top;
}
abbr, acronym, .explain {
    border-bottom: 1px dotted Black;
    color: Black;
    background: none;
    cursor: help;
}
q {
    font-family: Times, "Times New Roman", serif;
    font-style: italic;
}
code { background-color: #f9f9f9; }
pre {
    padding: 1em;
    border: 1px dashed #2f6fab;
    color: Black;
    background-color: #f9f9f9;
    line-height: 1.1em;
}



/* -- Useful classes
      We keep these around as they're generally useful. */
/* user notification thing */
.usermessage {
    background-color: #ffce7b;
    border: 1px solid #ffa500;
    color: Black;
    font-weight: bold;
    margin: 2em 0em 1em 0em;
    padding: 0.5em 1em;
    vertical-align: middle;
}
#siteNotice {
    text-align: center;
    font-size: 95%;
    padding: 0 0.9em 0 0.9em;
}
#siteNotice p {
    margin: 0;
    padding: 0;
}
.error {
    color: red;
    font-size: larger;
}

#catlinks {
    border:1px solid #aaaaaa;
    background-color:#f9f9f9;
    padding:5px;
    margin-top: 1em;
    clear: both;
}

.documentByLine {
    text-align: right;
    font-size: 90%;
    clear: both;
    font-weight: normal;
    color: #76797c;
}

#siteSub { display: none; }

/* emulate center */
.center {
    width: 100%;
    text-align: center;
}
*.center * {
    margin-left: auto;
    margin-right: auto;
}
/* small for tables and similar */
.small, .small * { font-size: 94%; }
table.small { font-size: 100% }

/* -- TOC -- */
#toc {
    /*border:1px solid #2f6fab;*/
    border:1px solid #aaaaaa;
    background-color:#f9f9f9;
    padding:5px;
    font-size: 95%;
}
#toc .tocindent { margin-left: 2em; }
#toc .tocline { margin-bottom: 0px; }
#toc p { margin: 0 }
#toc .toctoggle { font-size: 94%; }
#toc .editsection {
    margin-top: 0.7em;
    font-size: 94%;
}

/* -- images -- */
div.floatright, table.floatright {
    clear: right;
    float: right;
    position: relative;
    margin: 0 0 0.5em 0.5em;
    border: 0
}
div.floatright p { font-style: italic; }
div.floatleft, table.floatleft {
    float: left;
    position: relative;
    margin: 0 0.5em 0.5em 0;
    border: 0
}
div.floatleft p { font-style: italic; }

/* -- thumbnails -- */
div.thumb {
    margin-bottom: 0.5em;
    border-style: solid; border-color: White;
    width: auto;
}
div.thumb div {
    border:1px solid #cccccc;
    padding: 3px !important;
    background-color:#f9f9f9;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
}
div.thumb div a img {
    border:1px solid #cccccc;
}
div.thumb div div.thumbcaption {
    border: none;
    text-align: left;
    line-height: 1.4em;
    padding: 0.3em 0 0.1em 0;
}
div.magnify {
    float: right;
    border: none !important;
    background: none !important;
}
div.magnify a, div.magnify img {
    display: block;
    border: none !important;
    background: none !important;
}
div.tright {
    clear: right;
    float: right;
    border-width: 0.5em 0 0.8em 1.4em;
}
div.tleft {
    float: left;
    margin-right:0.5em;
    border-width: 0.5em 1.4em 0.8em 0;
}
.urlexpansion,
.hiddenStructure {
    display: none;
}
img.tex { vertical-align: middle; }
span.texhtml { font-family: serif; }

/* Page history styling */
/* the auto-generated edit comments */
.autocomment { color: gray; }
#pagehistory span.user {
    margin-left: 1.4em;
    margin-right: 0.4em;
}
#pagehistory span.minor { font-weight: bold; }
#pagehistory li { border: 1px solid White; }
#pagehistory li.selected {
    background-color:#f9f9f9;
    border:1px dashed #aaaaaa;
}
/*
** Diff rendering
*/
table.diff { background:white; }
td.diff-otitle { background:#ffffff; }
td.diff-ntitle { background:#ffffff; }
td.diff-addedline {
    background:#ccffcc;
    font-size: smaller;
}
td.diff-deletedline {
    background:#ffffaa;
    font-size: smaller;
}
td.diff-context {
    background:#eeeeee;
    font-size: smaller;
}
span.diffchange { color: red; font-weight: bold; }

/*
** footer
*/

#footer {
	margin:180px 10px 10px 180px;	
	padding:5px;
	text-align: center;
	background: #eeeeee;
}
#footer li {
    display: inline;
    margin: 0 1.3em;
    font-size: 70%;
}

/* hide from incapable browsers */
head:first-child+body #footer li { white-space: nowrap; }
#f-poweredbyico, #f-copyrightico {
    margin: 0 10px;
    position: relative;
    top: -2px; /* Bump it up just a tad */
}
#f-poweredbyico {
    float: right;
    height: 1%;
}
#f-copyrightico {
    float: left;
    height: 1%;
}

/* js pref toc */
#preftoc {
    float: left;
    margin: 1em 1em 1em 1em;
    width: 13em;
}
#preftoc li { border: 1px solid White; }
#preftoc li.selected {
    background-color:#f9f9f9;
    border:1px dashed #aaaaaa;
}
#preftoc a,
#preftoc a:active {
    display: block;
    color: #0014a6;
}
#prefcontrol {
    clear: both;
    float: left;
    margin-top: 1em;
}
div.prefsectiontip {
    font-size: 95%;
    margin-top: 1em;
}
fieldset.operaprefsection { margin-left: 15em }
